<h1>Hello, Rails!</h1>

<%=link_to :back do
  "hoop a joop"
end
%>

<%= 
	mail_to "jsuich@gmail.com", "Mail Josh Some Deep Stuff", cc: "nighthawks.2013@gmail.com", subject: "This is my first email using mail_to", body: "Whatz good!"
%>